<div class="create-papers-container">
    <h1>Твоите листчета 📜</h1>
    <p>Пет думи 5️⃣🆗. Минимум три букви на дума 3️⃣🔤. Без повтарящи се думи ❌🔁</p>
  <form class="create-papers-form" [formGroup]="form" (ngSubmit)="submit()">
      <div formArrayName="papers">
        <div [formGroup]="paperGroup" class="paper-input-container" *ngFor="let paperGroup of form.controls.papers.controls; let i = index">
          <!-- <label>{{i+1}} </label> -->
            <input
              type="text"
              formControlName="paper"
              [ngClass]="addErrorCssClass(i)"
            />
        </div>
      </div>
    <div *ngIf="submitted && form.invalid">
      <div>{{ errorMessage }}</div>
    </div>
    <button class="create-papers-submit" type="submit">Готово</button>
  </form>

</div>



