<div class="create-papers">
    <h1>Твоите листчета 📜</h1>
    <p>Пет думи 5️⃣🆗. Минимум три букви на дума 3️⃣🔤. Без повтарящи се думи ❌🔁. Само кирилица 📝✅</p>
  <form class="create-papers__form" [formGroup]="form" (ngSubmit)="submit()">
      <div formArrayName="papers">
        <div [formGroup]="paperGroup" class="create-papers__inputs" *ngFor="let paperGroup of getControls(); let i = index">
            <input
              class="create-paper__input"
              type="text"
              formControlName="paper"
              [ngClass]="addErrorCssClass(i)"
            />
        </div>
      </div>
    <button class="create-papers__submit" [disabled]="form.invalid" type="submit">Готово</button>
  </form>

</div>



