<div class="create-papers container-centered">
    <h1>Твоите листчета 📜</h1>
    <p>Пет думи <span class="emoji">5️⃣🆗</span>. Минимум три букви на дума <span class="emoji">3️⃣🔤</span>. Без повтарящи се думи <span class="emoji">❌🔁</span>. Само кирилица <span class="emoji">📝✅</span></p>
  <form class="create-papers__form" [formGroup]="form" (ngSubmit)="submit()">
      <div formArrayName="papers">
        <div [formGroup]="paperGroup" class="create-papers__inputs" *ngFor="let paperGroup of getControls(); let i = index">
            <input
              class="create-paper__input"
              type="text"
              formControlName="paper"
              [ngClass]="addErrorCssClass(i)"
            />
        </div>
      </div>
    <button class="btn" [disabled]="form.invalid" type="submit">Готово</button>
  </form>

</div>



