/* You can add global styles to this file, and also import other style files */
html{
    font-size: 10px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: black;
    padding: 30px;
    overflow: hidden;
}

button, input {
  padding: 0;
  border-color: transparent;
  border-image: none;

}

button:focus,
input:focus{
    outline: none;
}

